

.box_screens {
	padding: 20px 30px;
}

.box_screens table {
	width: 100%;
}
.box_screens table tr td {
	padding: 6px 10px;
	line-height: 24px;
}
.box_screens table tr td._left {
	width: 100px;
	color: #333;
	font-size: 14px;
	text-align: right;
	vertical-align:top;
}
.box_screens table tr td a {
	display: inline-block;
	margin-left: 7px;
	padding:0 15px 1px;
	font-size: 14px;
	border: 1px solid #d9dde9;
	border-radius: 2px;
	color: #666;
}
.box_screens table tr td a.current,.box_screens table tr td a:hover {
	background: #5a668a;
	border: 1px solid #5a668a;
	color: #fff;
	transition: 0.3s;
}
.box_screens table tr td._right {
	padding: 2px;
}
.box_screens table tr td._right a {
	display: inline-block;
	margin: 0 5px 6px 0;
}
.box_screens table tr td._right a.choice_exams {
	padding: 0 18px 0 0;
	color: #888;
	/*background: url(../img/choice_closed.png) no-repeat right center;*/
}
/*学生*/
.box_screens_student {
	padding-top: 100px;
	position: relative;
}
.box_screens_student .search_inputs {
	padding: 20px 30px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border-bottom: 1px solid #e1e4e8;
	background: #f9fafc;
	box-sizing: border-box;
	border-radius: 4px 4px 0 0;
}
.box_screens_student .search_inputs .el-autocomplete {
	width: 50%;
}
.box_screens_student .search_inputs .el-button {
	background: #019ce7;
	color: #fff;
}

/*内容标题*/
.box ._title {
	padding: 15px 30px;
	border-bottom: 1px solid #e5e5e5;
	position: relative;
	line-height: 20px;
}
.box ._title h5 {
	display: inline-block;
	vertical-align: middle;
	color: #333;
	font-size: 14px;
	font-weight: 600;
}
.box ._title .goright {
	top: 15px;
	right: 30px;
	color: #666;
}
.box ._title .goright i.iconfont {
	margin-right:4px;
	position: relative;
	top: 2px;
}
.box ._title .goright a:hover,
.box ._title a.goright:hover {
	color: #0096d5;
}


/*普通切换*/
.analysis_topbar h5.tabs_h5 a {
	color: #999;
}
.analysis_topbar h5.tabs_h5 a.current {
	color: #30adea;
}
.analysis_topbar h5.tabs_h5 i {
	color: #999;
	display: inline-block;
	padding: 0 10px;
	font-style: normal;
}
/*按钮切换*/
.analysis_topbar h5 span._tabs {
}
.analysis_topbar h5 span._tabs a {
	display: inline-block;
	vertical-align: middle;
	line-height: 32px;
	font-size: 15px;
	font-weight: 100;
	color: #111;
	border: 1px solid #cccccc;
	padding: 0 20px;
	margin-left: -1px;
	position: relative;
}
.analysis_topbar h5 span._tabs a.first {
	border-radius: 2px 0 0 2px;
}
.analysis_topbar h5 span._tabs a.last {
	border-radius: 0 2px 2px 0;
}
.analysis_topbar h5 span._tabs a.current {
	background: #00a2e3;
	border: 1px solid #00a2e3;
	color: #fff;
	z-index: 1;
}




.box ._table {
	padding: 30px 30px;
}
.box ._chart {
	padding: 20px 0;
}

/*学生详情介绍文字*/
.box_studentinfo {
	padding: 20px 30px;
	position: relative;
	min-height: 40px;
}
.box_studentinfo h5 {
	color: #333;
	font-weight: 600;
	line-height: 40px;
}
.box_studentinfo .goright {
	top: 20px;
	right: 30px;
}

/*班级对比弹出框*/
.compare_box {
	text-align: center;
}
.compare_box p {
	padding-top: 5px;
}
.compare_box .dialog-footer {
	padding: 30px 0 10px;
}

/*多次考试*/
div.multipletop{
	min-height: auto;
	padding:20px;
}
.multipletop h5{
	width:70%;
	line-height:40px;
	color:#333;
	font-weight:600;
}
.multipletop .btnBox{
	width:354px;
}
.multipletop button{
	width:168px;
}
button.compareSure{
	width:160px;
	margin-top:30px;
	float:right;
}
#compareExamBox{
	position:fixed;
	top:20%;
	right:4%;
	border:1px solid #ccc;
	width:290px;
	box-shadow:2px 2px 8px #ddd, -2px -2px 8px #ddd;
	border-radius:3px;
	background:#fff;
	z-index:1000;
}
#compareExamBox h5{
	line-height:50px;
	vertical-align: middle;
	font-size: 14px;
	font-weight: 600;
	padding:0 20px;
	border-bottom:1px solid #e5e5e5;
	cursor:move;
}
#compareExamBox h5 i{
	font-weight:500;
}
#compareExamBox .examListBox{
	padding:10px 20px;
	min-height:100px;
}
#compareExamBox .examListBox li{
	line-height:30px;
}
#compareExamBox .examListBox li:first-child{
	color:#8d8d8d;
}
#compareExamBox i{
	color:#b3b4b6;
	cursor:pointer;
}
#compareExamBox .examListBox li span{
	width:92%;
}
#compareExamBox button{
	width:250px;
	margin: 20px;
}


/*切换tabs*/
.sx_tabs_max a {
	min-width: 180px;
	text-align: center;
	line-height: 17px;
	padding: 12px 0;
}
.sx_tabs_twolin a {
	padding: 7px 0;
}
.sx_tabs_twolin a span {
	font-size: 12px;
}
.sx_table input{
	margin:0 auto;
	display:block;
	width:80%;
}
.setNodata{
	width:480px;
	margin:20px auto;
	min-height:300px;
}
.setNodata h4{
	padding:40px 0;
}
.setSucc{
	margin-top:20px;
}
.el-pagination{
	padding-bottom:20px;
	margin-top:0;
}
.el-input-number.is-without-controls .el-input__inner{
	border:none;
	text-align:center;
}
.el-input-number{
	margin:0 auto;
	display:block;
}
.schoolScoreLine .el-table--border td:nth-child(2), .schoolScoreLine .el-table--border th:nth-child(2){
	border-right:none;
}
