.btn_bottom{
    margin-bottom: 5px;
}
.classLabel{
    width: 67px
}
.classItem{
    margin-bottom: 5px;
}
.classOpen{
    margin-left: 7px;
    height: auto;
    overflow: auto;
}
.classClose{
    margin-left: 7px;
    height:30px;
    overflow: hidden;
}
.sep{
    display: inline-block;
    vertical-align: top;
    color: #dfe1e5;
}
.delbtn{
    border: 0;
    font-size: 20px;
    padding: 0;
    position: relative;
    left: 18px;
}
.addrow{
    border:0;
    float: right;
    margin-bottom: 10px;
    color: #4db3ff;
}
.special .operation{
    padding: 15px 30px 12px;
}
.operation .el-input{
    width: 500px;
}
.special .search{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.operation .el-input__icon{
    background: #019ce7;
    color: #fff;
}
.operation .el-input__icon:hover, .el-icon-search::before:hover{
    color: #fff;
}
.el-date-editor.el-input {
    width: 120px;
}
.el-checkbox-group{
    display: inline-block;
}
.search .all{
    margin-right: 15px;
}
.addcon ul{
    border: 1px solid #dfe1e5;
    padding: 20px;
}
.addcon ul li{
    line-height: 40px;
}
.addcon ul li span label{
    margin-left: 15px;
    display: inline-block;
}
.rank{
    vertical-align: top;
    display: inline-block;
    margin-left: 10px;
}
.setdialog .el-dialog__body{
    padding: 30px 60px;
}
.chotab span{
    border: 1px solid #d9dde9;
    color: #333;
    display: inline-block;
    border-radius: 6px;
    padding: 3px 15px;
    cursor: pointer;
    margin-bottom: 8px;
}
.chotab span:first-child{
    border-right: 0;
    float: left;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.chotab span:last-child{
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.chotab .current{
    background: #5a668a;
    color: #fff;
    border: 0;
    padding: 4px 15px;
}
.setscore{
    text-align: center;
}
.setscore input{
    border-bottom: 1px solid #dfe1e5!important;
    margin: 0 4px;
}
.stepname{
    border-bottom: 1px solid #dfe1e5!important;
}
.setscore label{
    vertical-align: top;
}
.operation .el-input__icon:hover{
    cursor: pointer;
}
.el-pagination {
    text-align: center;
    margin-top: 20px;
}
.addSpecial li label{
    margin-right: 10px;
}

.addSpecial .el-checkbox__label{
    display: none;
}
.nostudent{
    margin: 4px 0;
    font-size: 12px;
    color: red;
}
.clear{clear:both;display:block;width:0;height:0}

.optable{
    margin-bottom: 10px;
}

.optable li:first-child{
    float: left;
}
.optable li:last-child{
    float: right;
}
.optable li .el-button{
    border: 0;
    padding: 10px 4px 0 4px;
}
.steptable .el-button{
    border: 0;
    margin: 0 0 0 3px;
    font-size: 18px;
    padding: 0;
}
.classcon .ltip{
    vertical-align: top;
}
.classcon div{
    display: inline-block;
    width: 90%;
}
.classcon div a{
    margin-bottom: 10px;
}

.el-input__icon{
    cursor: pointer;
}

.stuerrtip, .errortip{
    color: red;
}
.mask{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 99;
    top:0;
    left: 0;
}
.nodata{
    text-align: center;
}
.notabledata{
    border: 1px solid #e0e6ed;
    text-align: center;
    padding: 150px 0;
}
.loading{
    color: #8d8d8d;
}